# This workflow builds the Data Morph documentation and publishes it using GitHub pages.
#
# Based on https://olgarithms.github.io/sphinx-tutorial/docs/8-automating-documentation-updates.html
#
# Author: Stefanie Molin

name: Deploy Docs

on:
  push:
    branches: [ "main" ]
    paths:
      - '.github/workflows/docs.yml'
      - 'docs/**'
      - 'src/**'
      - '!src/data_morph/__main__.py'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  docs:
    name: Build and deploy docs.

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          pip install '.[docs]'
      - name: Sphinx build
        run: |
          git worktree add docs/_build/html gh-pages
          cd docs
          make html

      - name: Deploy docs
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e  # v4.0.0
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html
