# This workflow runs pre-commit hooks on the files in the PR only.
#
# Author: Stefanie Molin

name: Check PR

on:
  # Trigger on pull request always (note the trailing colon)
  pull_request:

jobs:
  # Run pre-commit checks on the files changed
  linting:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pre-commit
          pre-commit install

      - name: Run Checks
        run: |
          pre-commit run --from-ref origin/${{ github.base_ref }} --to-ref HEAD --show-diff-on-failure
